.join {
  margin: 0 auto 60px;
  @media screen and (min-width: 768px) {
    margin: 0;
  }
}
.join > p {
  margin: 0 0 20px;
  text-align: center;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: $primery-white-color;
}
.join-list {
  @include list(margin);
  margin: 0;
  display: flex;
  justify-content: center;
}
.join-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  color: $primery-white-color;
  @include transition(background-color);
  &:hover,
  &:focus {
    background: $accent-color;
  }
}
.join-item:not(:last-child) {
  margin-right: 10px;
}
