.contacts-container {
  @media screen and(min-width:768px) {
    display: flex;
  }
  display: none;
  flex-direction: column;
  margin-left: auto;
}
.contacts {
  color: $primery-text-color;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  @include transition(color);
  &:hover,
  &:focus {
    color: $accent-color;
  }
  & + .contacts {
    margin-top: 10px;
  }
}
.icon-mail {
  width: 16px;
  height: 12px;
  fill: currentColor;
}
.icon-tel {
  width: 10px;
  height: 16px;
  fill: currentColor;
}
