.menu-button {
  display: flex;
  z-index: 7;
  margin-left: auto;
  padding: 0;
  color: currentColor;
  background-color: transparent;
  border: none;
  .icon-cross {
    display: none;
  }
  &.is-open .icon-cross {
    display: block;
  }
  &.is-open .icon-menu {
    display: none;
  }
}
.mobile-menu__icon {
  @include transition(fill);
  &:hover,
  &:focus {
    fill: $accent-color;
  }
}
.header-menu {
  display: none;
  position: absolute;
  padding: 48px 40px;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $primery-white-color;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
  &.is-open {
    display: block;
  }
}
.mobile-navigation {
  @include list(margin);
  margin: 0;
}
.mobile-navigation__item {
  margin: 0 0 32px;
  &:nth-child(3) {
    margin: 0;
  }
}
.mobile-navigation__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.02em;
  color: $title-text-color;
  @include transition(color);
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.mobile-contacts__tel {
  display: block;
  margin: 302px 0 0;
  text-decoration: none;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: $accent-color;
}
.mobile-contacts__mail {
  display: block;
  margin: 32px 0 0;
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: $primery-text-color;
}
.mobile-social-network {
  @include list(margin);
  margin: 64px 0 0;
  display: flex;
}
.mobile-social-network__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: $accent-color;
}
.mobile-social-network__item {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding: 0 10px;
  &:nth-child(1) {
    padding: 0 10px 0 0;
  }
  &:nth-child(4) {
    border: none;
    padding: 0 0 0 10px;
  }
}
