.main-nav {
  align-items: center;
}
.navigation {
  display: none;
  @include list(margin);
  margin: 0;
}
.navigation__item {
  position: relative;
  &:last-child {
    margin: 0;
  }
}
.navigation-link {
  padding: 32px 0;
  color: $title-text-color;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  @include transition(color);
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.navigation-link.current {
  color: $accent-color;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    background-color: $accent-color;
    border-radius: 2px;
  }
}
