.employee-card {
  margin: 0 0 30px;
  background-color: $primery-white-color;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  &:nth-child(4) {
    margin: 0;
  }
}
.employee-photo {
  width: 100%;
  display: block;
}
.employee-name {
  margin: 30px auto 10px;
  color: $title-text-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.employee-position {
  margin: 0 0 16px;
  line-height: 1.19;
}

.social__network {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 24px;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
.social__network-item:not(:last-child) {
  margin-right: 10px;
}
.social__network-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  @include transition(background-color color);
  &:focus,
  &:hover {
    background-color: $accent-color;
    color: $primery-white-color;
  }
}
.social__network-icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
}
