.example-list {
  @include list(margin);
  display: flex;
}
.example {
  @media screen and (max-width: 1199.97px) {
    display: none;
  }
  padding-bottom: 94px;
}
.example-title {
  margin: 0 0 50px;
  color: $title-text-color;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.example-item {
  margin-right: 30px;
  &:nth-child(3) {
    margin: 0;
  }
}
.exemple-thumb {
  position: relative;
}
.exemple-label {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba(47, 48, 58, 0.8);
  height: 70px;
}
.exemple-text {
  margin: 0;
  padding: 0;
  color: $primery-white-color;
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
}
.exemple-image {
  display: block;
}
