.team-list {
  @include list(margin);
  margin: 0;
  @media screen and(min-width:768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
.teams {
  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
  background-color: #f5f4fa;
  padding: 60px 0;
}
.teams-title {
  @media screen and (min-width: 1200px) {
    font-size: 36px;
    margin: 0 0 50px;
  }
  margin: 0 0 30px;
  color: $title-text-color;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
}
