.project__card {
  @include list(margin);
  position: relative;
  margin: 0;
  @media screen and(min-width:768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
.project__card--item {
  @media screen and(min-width:768px) {
    margin: 15px;
  }
  &:not(:last-child) {
    @media screen and(max-width:767px) {
      margin-bottom: 30px;
    }
  }
}
.project__card--link {
  @media screen and(min-width:480px) {
    width: 450px;
  }
  @media screen and(max-width:767px) {
    width: 450px;
  }
  @media screen and(min-width:768px) {
    width: 354px;
  }
  @media screen and(min-width:1200px) {
    width: 370px;
  }
  display: block;
  outline: none;
  text-decoration: none;
  height: 100%;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  @include transition(box-shadow);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    opacity: 1;
  }
}
.project__description {
  @media screen and(min-width:768px) {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  position: relative;
  overflow: hidden;
}
.project__card--photo {
  display: block;
}
.project__description-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  @include transition(transform);
  .project__card--item:hover &,
  .project__card--item:focus & {
    transform: translateY(0);
  }
}
.project__description-text {
  padding: 63px 24px;
  margin: 0;
  font-size: 18px;
  line-height: 1.56;
  color: $primery-white-color;
}
.project-signature {
  @media screen and(min-width:768px) {
    width: 100%;
  }
  padding: 20px 24px;
}
.project-title {
  margin: 0 0 4px;
  color: $title-text-color;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project-name {
  margin: 0;
  color: $primery-text-color;
  font-size: 16px;
  line-height: 1.88;
}
