@mixin transition($property, $property) {
    transition-property: $property;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@mixin list($margin) {
    padding: 0;
    margin: $margin;
    list-style: none;
    text-decoration: none;
}