    $primery-text-color: #757575;
    $title-text-color: #212121;
    $accent-color: #2196f3;
    $primery-white-color: #ffffff;
    $main-font-family: Roboto, sans-serif;
    $sec-font-family: Raleway, sans-serif;
    $main-font-size: 14px;
    $main-font-weight: normal;
    $main-font-style: normal;
    $main-line-height: 1.71;   